h1,h2,ul,dd,a{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    margin: auto;
    width: 90%;
    max-width: 1280px;
}
body{
    margin: 0;
}
// 圖片相關
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
// 文字相關
.text-center{
    text-align: center;
}
// 區塊相關
.row{
    display: flex;
    flex-wrap: wrap;
}
.row-display-nowrap{
    display: flex;
    flex-wrap: nowrap;
}
//===============================================================
//=================頁首==========================================
//================================================================

.logo{
    width:300px;
    padding-top: 10px;
}
header>.container>.row-display-nowrap>nav{
    width: 800px;
    padding-left: 100px;
    padding-top: 90px;
}
header>.container>.row-display-nowrap>nav>ul{
    display: flex;
    justify-content: space-around;

}
header>.container>.row-display-nowrap>nav a{
    color:black;
    display: block;
    padding: 20px;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 2px;
    border-right: 1px solid gray;
}
//===============================================================================
//=====================================大圖======================================
//================================================================================
.banner>img{
    text-align:center;
    margin-top: 20px;
}
//==================================================================================
//====================================最新消息=======================================
//=====================================================================================
.S1{
    background-color: #CDF4FF;
    height: 350px;
    position: relative;
}
.S1>h2{
    padding-top: 50px;
    padding-left: 100px;
    font-size: 1.8em;
}
.newspost{
    display: block;
}
.newspost>li{
    display: block;
    margin-top: 20px;
    margin-left: 100px;
    width: 80%;
    padding-bottom: 10px;
    border-bottom: 1px solid #2A66AC;
}
.newspost>li>.date{
    float:left;
    padding-right: 70px;
    padding-left: 100px;
}
.newspost>li>.product1{
    float:left;
    margin-right: 80px;
    background-color: #70A8EA;
    color:#fff;
    padding: 3px;
    border-radius: 8px;
}
.newspost>li>.product2{
    float:left;
    margin-right: 80px;
    background-color: #207EEB;
    color:#fff;
    padding: 3px;
    border-radius: 8px;
}
//========================================================================================
//====================================主打商品=============================================
//=========================================================================================
.S1>.logo2{
    position: absolute;
    right: 0px;
    bottom: -70px;
    opacity: 0.5;
    width: 20%;
}
.S2{
    background-color: #E8FAFF;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: -1;
}
.S2>.left{
    width: 50%;
    position: relative;
}
.S2>.left>img{
    padding-left: 100px;
    padding-top: 20px;
}
.S2>.right{
    width: 50%;
}
.S2>.right>h2{
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 50px;
}
.S2>.right>p{
    padding-left: 50px;
    font-weight: 800;
}
.S3{
    background-color: #CDF4FF;
    padding-top: 20px;
}
.S3>.left{
    width: 50%;
    position: relative;
}
.S3>.left>img{
    padding-left: 50px;
    padding-top: 20px;
}
.S3>.right{
    width: 50%;
    order: -1;
}
.S3>.right>h2{
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.S3>.right>p{
    padding-left: 150px;
    font-weight: 800;
}
.S3>.left>.logo2{
    position: absolute;
    right: 0px;
    bottom: -80px;
    opacity: 0.5;
    width: 50%;
}
//================================================================================================
//===============================頁尾=============================================================
//================================================================================================
footer{
    background-color: #2A66AC;
    padding: 40px 40px 0 40px;
}