head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index_en.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                .topcomposing
                    .language
                        ul 
                            li 
                                a(href="about_us.html") 繁體中文
                            li 
                                a(href="about_us_en.html") English
                    nav 
                        ul 
                            li
                                a(href="about_us_en.html") About us
                            li
                                a(href="javascript:;") Product
                                ul.submenu
                                    li 
                                        a(href="product1_en.html") A/C Cleaning tank
                                    li 
                                        a(href="product2_en.html") Tools
                                    li 
                                        a(href="product3_en.html") Parts
                            li
                                a(href="client_en.html") Client
                            li
                                a(href="faq_en.html") Question
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index_en.html") Front
                span &nbsp; &gt; &nbsp;
                a(href='about_us_en.html') About us 
        .about1.container.row
            p 　　The weather is getting hotter, and the demand for air-conditioning is also gradually increasing. In order to make the#[br] air conditioner clean and cool.It is necessary to clean the air conditioner in a timely manner. We are committed #[br]to launching air-conditioning related products. Maintain and clean air conditioners in an easier way to enjoy the #[br]clean and comfortable air-conditioning in this hot summer.
            P 　　The parts of each of our products are developed in the direction of being lightweight, durable and easy to #[br]assemble. The purpose is to make our products a good tool that everyone can use easily!
            p 　　Choose us, choose the easiest and most convenient way to clean the air conditioner, and bring #[br]the most comfortable environment to your family!
        .about2.container.row 
            .col-md-4.col-12
                img.img-fluid(src="public/images/about1.png", alt="")
                h3 Main Frame
            .col-md-4.col-12
                img.img-fluid(src="public/images/about2.png", alt="")
                h3 Water Collection Bag
            .col-md-4.col-12
                img.img-fluid(src="public/images/about3.png", alt="")
                h3 Outside Carrier Bag
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail.png", alt="")
                    p black123963@gmail.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/easywash-script.js")