head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                nav 
                    ul 
                        li
                            a(href="about_us.html") 關於我們
                        li
                            a(href="javascript:;") 產品介紹
                            ul.submenu
                                li 
                                    a(href="product1.html") 冷氣清洗槽
                                li 
                                    a(href="product2.html") 手工具
                                li 
                                    a(href="product3.html") 零件
                        li
                            a(href="client.html") 客戶回饋
                        li
                            a(href="faq.html") 常見問題
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index.html") 首頁
                span &nbsp; &gt; &nbsp;
                a(href='about_us.html') 關於我們 
        .about1.container
            p 天氣越炎熱，對空調的需求越高，就更需要注重空調的清潔！我們致力於推出冷氣空調相關的產品，#[br] 能夠用更輕鬆的方式來保養、清潔冷氣，才能在這炎炎夏日，享受乾淨舒服的冷氣。而每項產品的零件，#[br] 都是朝著輕巧耐用、組裝簡單的方向來去研發，就是為了讓我們的產品是人人都可以輕鬆上手的好工具！#[br] 所以，選擇真豪洗，就是選擇了最輕鬆、最方便的方式來清潔冷氣，帶給家人最舒適的環境！
        .about2.container.row 
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="")
                h3.parts1 ㄇ型主體架
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="")
                h3.parts2 中層U型架
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="")
                h3.parts3 調整轉軸
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="")
                h3.parts4 集水袋
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="")
                h3.parts5 伸縮管
            .col-md-4.col-12
                img.img-fluid(src="public/images/coming-soon.png", alt="") 
                h3.parts6 上擋水板 
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail.png", alt="")
                    p hongcheng@easywash.com
                div.floor2
                    img(src="public/images/icon-line.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/easywash-script.js")