head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
body 
    header 
        .container 
            .row-display-nowrap
                a(href="index_en.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                .topcomposing
                    .language
                        ul 
                            li 
                                a(href="faq.html") 繁體中文
                            li 
                                a(href="faq_en.html") English
                    nav 
                        ul 
                            li
                                a(href="about_us_en.html") About us
                            li
                                a(href="javascript:;") Product
                                ul.submenu
                                    li 
                                        a(href="product1_en.html") A/C Cleaning tank
                                    li 
                                        a(href="product2_en.html") Tools
                                    li 
                                        a(href="product3_en.html") Parts
                            li
                                a(href="client_en.html") Client
                            li
                                a(href="faq_en.html") Question
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index_en.html") Front
                span &nbsp; &gt; &nbsp;
                a(href='faq_en.html') Question 
        .container-faq
            .question-container
                .question 
                    h3 How to buy
                    .icon-arrow 
                        i.fa-solid.fa-angle-down
                .answer 
                    p There are sales channels in all air-conditioning and cooling material stores in Taiwan. There are also stores where you can buy them on the Internet!
            .question-container
                .question 
                    h3 What should I do if some parts are broken
                    .icon-arrow 
                        i.fa-solid.fa-angle-down
                .answer 
                    p Contact the store where you originally purchased, if you need to change what shop owner will help you order goods!
            .question-container
                .question 
                    h3 I'm a dealer, what is the pipeline for the purchase
                    .icon-arrow 
                        i.fa-solid.fa-angle-down
                .answer 
                    p You can get in touch via the email address at the bottom of the page!
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p black123963@gmail.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")