head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index_en.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                .topcomposing
                    .language
                        ul 
                            li 
                                a(href="index.html") 繁體中文
                            li 
                                a(href="index.html") 日本語
                            li 
                                a(href="index_en.html") English
                    nav 
                        ul 
                            li
                                a(href="about_us_en.html") About us
                            li
                                a(href="javascript:;") Product
                                ul.submenu
                                    li 
                                        a(href="product1_en.html")  A/C Cleaning tank
                                    li 
                                        a(href="product2_en.html") Tools
                                    li 
                                        a(href="product3_en.html") Parts
                            li
                                a(href="client_en.html") Client
                            li
                                a(href="faq_en.html") Question
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    .S1
        .container
            h2 Latest News
            ul.newspost 
                li 
                    .date 2022-11-01
                    .product1 Product
                    .news 
                        a(href="product2_3_en.html") The enovation best assistant ,Adjustable wrench with strong forceps coming soon.
                li 
                    .date 2022-11-01
                    .product1 Product
                    .news 
                        a(href="product2_4_en.html") Magnet Key Rings start selling!
                li 
                    .date 2022-11-01
                    .product1 Product
                    .news Cassette type air-conditioner cleaning tank coming soon!
            img.logo2-1(src="public/images/LOGO2.png", alt="")
    .S2   
        .container.row
            .left.col-12
                img.img-fluid(src="public/images/product6.png", alt="") 
            .right.col-12
                h2 
                    a(href="product1_1_en.html") EasyWash
                p Air-conditioning cleaning tank
                p Revolutionary Product
                p Completely solve the problem of overflow
                p Quick and easy assembly to save time and labor
    .S3    
        .container.row  
            .left.col-12
                img.img-fluid(src="public/images/knife2.png", alt="")
                img.logo2-2(src="public/images/LOGO2.png", alt="")
            .right.col-12.order-md-1
                h2 
                    a(href="product2_1_en.html") Easy Trimming
                p Portable
                p Durable
                p Easy to operate
                p Quick cutter head replacement
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p black123963@gmail.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")