head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                nav 
                    ul 
                        li
                            a(href="about_us.html") 關於我們
                        li
                            a(href="javascript:;") 產品介紹
                            ul.submenu
                                li 
                                    a(href="product1.html") 冷氣清洗槽
                                li 
                                    a(href="product2.html") 手工具
                                li 
                                    a(href="product3.html") 零件
                        li
                            a(href="client.html") 客戶回饋
                        li
                            a(href="faq.html") 常見問題
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index.html") 首頁
                span &nbsp; &gt; &nbsp;
                a(href='product1.html') 產品介紹
                span &nbsp; &gt; &nbsp;
                a(href="product2.html") 手工具
                span &nbsp; &gt; &nbsp;
                a(href="product2_3.html") 大力活動扳手
        .container
            .product-left.col-12.col-md-9
                dl 
                    dt 
                        a(href="product2_1.html") 真豪修邊刀
                    dt 
                        a(href="product2_2.html") 六角軸修邊刀頭
                    dt 
                        a(href="product2_3.html") 大力活動扳手
                    dt 
                        a(href="product2_4.html") 螺絲小幫手
            .product-right
                .row 
                    .col-md-6.col-12 
                        img.img-fluid(src="public/images/pd2-3-1.png", alt="")
                    .col-md-6.col-12
                        h2 大力活動扳手
                        p 防滑齒輪設計，夾持牢固
                        p 刻度指示提高工作效率
                        p 開口與調整螺母滑動順暢
                        p 大力鎖緊構造安全
                        p 防滑樹脂握把
                        p 
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/pd2-3-2.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/pd2-3-3.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/pd2-3-4.png", alt="")
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p hongcheng@easywash.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")