head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index_en.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                .topcomposing
                    .language
                        ul 
                            li 
                                a(href="product2_4.html") 繁體中文
                            li 
                                a(href="product2_4_en.html") English
                    nav 
                        ul 
                            li
                                a(href="about_us_en.html") About us
                            li
                                a(href="javascript:;") Product
                                ul.submenu
                                    li 
                                        a(href="product1_en.html") A/C Cleaning tank
                                    li 
                                        a(href="product2_en.html") Tools
                                    li 
                                        a(href="product3_en.html") Parts
                            li
                                a(href="client_en.html") Client
                            li
                                a(href="faq_en.html") Question
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index_en.html") Front
                span &nbsp; &gt; &nbsp;
                a(href='product1_en.html') Product
                span &nbsp; &gt; &nbsp;
                a(href="product2_en.html") Tools
                span &nbsp; &gt; &nbsp;
                a(href="product2_4_en.html") Magnet Key Rings
        .container
            .product-left.col-12.col-md-9
                dl 
                    dt 
                        a(href="product2_1_en.html") Easy Trimming
                    dt 
                        a(href="product2_2_en.html") Electric trimming cutter head
                    dt 
                        a(href="product2_3_en.html") Adjustable wrench with strong forceps
                    dt 
                        a(href="product2_4_en.html") Magnet Key Rings
            .product-right
                .row 
                    .col-md-6.col-12 
                        img.img-fluid(src="public/images/pd2-4-1.png", alt="")
                    .col-md-6.col-12
                        h2 Magnet Key Rings
                        p Super strong suction, absorb a lot of screws without falling
                        p Wear-resistant and cut-resistant, covered with genuine leather, not afraid of abrasion or cuts caused by screws
                        p Key ring design, lightweight and convenient
                        p Applicable to all walks of life, absorb all kinds of small parts
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/pd2-4-2.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/pd2-4-3.png", alt="")
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p black123963@gmail.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")