head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                nav 
                    ul 
                        li
                            a(href="about_us.html") 關於我們
                        li
                            a(href="javascript:;") 產品介紹
                            ul.submenu
                                li 
                                    a(href="product1.html") 冷氣清洗槽
                                li 
                                    a(href="product2.html") 手工具
                                li 
                                    a(href="product3.html") 零件
                        li
                            a(href="client.html") 客戶回饋
                        li
                            a(href="faq.html") 常見問題
    .banner 
        img.img-fluid(src="public/images/product7.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index.html") 首頁
                span &nbsp; &gt; &nbsp;
                a(href='javascript:;') 產品介紹
                span &nbsp; &gt; &nbsp;
                a(href="product1.html") 冷氣清洗槽
                span &nbsp; &gt; &nbsp;
                a(href="product1_1.html") 真豪洗
        .container
            .product-left.col-12.col-md-9
                dl 
                    dt 
                        a(href="product1_1.html") 真豪洗
                    dt 
                        a(href="product1_2.html") 鯨霸
                    dt 
                        a(href="product1_3.html") 四方吹
            .product-right
                .row 
                    .col-md-6.col-12 
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-6.col-12
                        h2 真豪洗冷氣清洗槽
                        p 適用尺寸:76~130CM
                        p 輕量化,好攜帶
                        p 外袋展開大,好收納
                        p 左右出管都可輕鬆使用
                        p 兩段式排水接管(不會塞水 )
                        p 零件都可單一更換,不必整組換新
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
                    .col-md-4.col-12
                        img.img-fluid(src="public/images/coming-soon.png", alt="")
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p hongcheng@easywash.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")