head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title EasyWash 
  link(rel='stylesheet' href='public/css/style.css')

body 
    header 
        .container 
            .row-display-nowrap
                a(href="index.html" )
                    img.logo.img-fluid(src="public/images/LOGO3.png", alt="") 
                a#btn-nav-switch.icon-menu(href="javascript:;")
                    img(src="public/images/menu.svg", alt="")
                .topcomposing
                    .language
                        ul 
                            li 
                                a(href="index.html") 繁體中文
                            li 
                                a(href="index.html") 日本語
                            li 
                                a(href="index.html") English
                    nav 
                        ul 
                            li
                                a(href="about_us.html") 關於我們
                            li
                                a(href="javascript:;") 產品介紹
                                ul.submenu
                                    li 
                                        a(href="product1.html") 冷氣清洗槽
                                    li 
                                        a(href="product2.html") 手工具
                                    li 
                                        a(href="product3.html") 零件
                            li
                                a(href="client.html") 客戶回饋
                            li
                                a(href="faq.html") 常見問題
    .banner 
        img.img-fluid(src="public/images/product8.png", alt="")
    section
        .breadcrumb 
            .container
                a(href="index.html") 首頁
                span &nbsp; &gt; &nbsp;
                a(href='product1.html') 產品介紹
                span &nbsp; &gt; &nbsp;
                a(href="product1.html") 冷氣清洗槽
        .container
            .product-left.col-12.col-md-9
                dl 
                    dt 
                        a(href="product1.html") 冷氣清洗槽
                    dt 
                        a(href="product2.html") 手工具
                    dt 
                        a(href="product3.html") 零件
            .product-right
                .row 
                    .col-md-6.col-12 
                        a(href="product1_1.html") 
                            .img-big
                                img.img-fluid(src="public/images/pd1-1.png", alt="")
                            h3 真豪洗
                    .col-md-6.col-12 
                        a(href="product1_2.html") 
                            .img-big
                                img.img-fluid(src="public/images/pd1-2.png", alt="")
                            h3 鯨霸
                    .col-md-6.col-12 
                        a(href="product1_3.html") 
                            .img-big
                                img.img-fluid(src="public/images/coming-soon.png", alt="")
                            h3 四方吹
    footer 
        .container 
            .row 
                div.floor1
                    img(src="public/images/icon-phone.png", alt="")
                    p (04)-7321533
                div.floor1    
                    img(src="public/images/icon-tfx.png", alt="")
                    p (04)-7321101
                div.floor2           
                    img.icon-mail(src="public/images/icon-mail2.png", alt="")
                    p black123963@gmail.com
                div.floor2.line
                    img(src="public/images/icon-line2.png", alt="")
                    p ID:01469740
            p copyright

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="public/js/easywash-script.js")